@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-4">Welcome</h5>
    <p>This web app is built to manage our clients and their contacts efficiently.</p>
    <p>Discover the features of <strong>Our App</strong> and start your journey <a href="https://www.bcity.me/">here</a>.</p>
</div>

